@model CarDTO
@{
    ViewData["Title"] = "إضافة سيارة جديدة ";
}
@section Css{
    <style>
        td {
            padding: 8px 1px 8px 1px !important;
            font-size: 14px !important;
        }

        th {
            font-weight: bold;
            font-size: medium;
        }

        td a {
            margin-left: 5px !important;
        }

        .m-portlet__body {
            padding-top: 0px !important;
        }

        .dt-buttons {
            margin-top: 12px
        }
    </style>
}
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    <span style="color: #ebebeb"></span> إضافة سيارة جديدة
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <br />
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="CarIdentfire" value="@ViewBag.ci" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="NameAr" class="control-label"></label>
                        <input asp-for="NameAr" class="form-control">
                        <span asp-validation-for="NameAr" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="NameEn" class="control-label"></label>
                        <input asp-for="NameEn" class="form-control">
                        <span asp-validation-for="NameEn" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PriceBeforeDiscount" class="control-label"></label>
                        <input type="number" asp-for="PriceBeforeDiscount" class="form-control">
                        <span asp-validation-for="PriceBeforeDiscount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PriceAfterDiscount" class="control-label"></label>
                        <input type="number" asp-for="PriceAfterDiscount" class="form-control">
                        <span asp-validation-for="PriceAfterDiscount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>نوع السيارة</label>
                        <select id="CarType" asp-items="ViewBag.TypeCar" name="OfferCarIds" title="--- إختار  النوع الرئيسي ---" class="selectpicker dataLive" data-width="100%" data-live-search="true">
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="SubCarTypeId"></label>
                        <select id="select" asp-for="SubCarTypeId" title="--- إختار  النوع الفرعي ---" class="custom-select" data-width="100%">
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ModelCarTypeId"></label>
                        <select id="select1" asp-for="ModelCarTypeId" title="--- إختار   الموديل ---" class="custom-select" data-width="100%">
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Main" class="control-label"></label>
                        <input type="file" asp-for="Main" class="form-control">
                        <span asp-validation-for="Main" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Show" class="control-label"></label>
                        <input type="file" asp-for="Show" class="form-control">
                        <span asp-validation-for="Show" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="InsidImages" class="control-label"></label>
                        <input type="file" asp-for="InsidImages" multiple class="form-control">
                        <span asp-validation-for="InsidImages" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="m-form m-form--label-align-right m--margin-bottom-0">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="btn btn-success" style="font-size:medium" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    إضافات السيارة
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <br />
                            <div class="p-3 mb-2 text-white" style="background-color:crimson">
                                ميزات السيارة
                            </div>
                            <br />
                            <div class="m-form m-form--label-align-right m--margin-bottom-0">
                                <div class="row align-items-center">
                                    <div class="col-xl-12 order-2 order-xl-1">
                                        <div class="row">
                                            @if (Model.featureCars.Any())
                                            {
                                                foreach (var item in Model.featureCars)
                                                {
                                                    <div class="col-md-4">
                                                        <div class="card-header">
                                                            <input name="feature" value="@item.Id" type="checkbox">
                                                            <a style="color: black;text-decoration: none;" data-toggle="collapse" href="#collapseExample_@item.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                                <b>@item.NameAr</b>
                                                            </a>
                                                        </div>
                                                        <div class="collapse" id="collapseExample_@item.Id">
                                                            <div class="m-form__group form-group">
                                                                <div class="m-checkbox-list">
                                                                    <ul class="list-group list-group-flush">
                                                                        @foreach (var item1 in item.subFeatureCars)
                                                                        {
                                                                            <li class="list-group-item">
                                                                                <label class="custom-checkbox">
                                                                                    <input name="subFeatureCars[]" onchange="change('checkbox_@item1.Id', 'text_@item1.Id', 'entext_@item1.Id');" id="checkbox_@item1.Id" value="@item1.Id" type="checkbox">
                                                                                    @item1.NameAr
                                                                                </label>
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <input name="arValues[]" disabled placeholder="القيمة بالعربية" id="text_@item1.Id" class="form-control" value="" type="text">
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <input name="enValues[]" disabled placeholder="القيمة بالانجليزية" id="entext_@item1.Id" class="form-control" value="" type="text">
                                                                                    </div>
                                                                                </div>

                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                    <br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="p-3 mb-2 text-white" style="background-color:crimson">
                                مواصفات السيارة
                            </div>
                            <div class="m-form m-form--label-align-right m--margin-bottom-0">
                                <div class="row align-items-center">
                                    <div class="col-xl-12 order-2 order-xl-1">
                                        <div class="row">
                                            @if (Model.specificationCars.Any())
                                            {
                                                foreach (var item in Model.specificationCars)
                                                {
                                                    <div class="col-md-4">
                                                        <div class="card-header">
                                                            <input name="SepCars" value="@item.Id" type="checkbox">
                                                            <a style="color: black;text-decoration: none;" data-toggle="collapse" href="#collapseExample_@item.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                                <b>@item.NameAr</b>
                                                            </a>
                                                        </div>
                                                        <div class="collapse" id="collapseExample_@item.Id">
                                                            <div class="m-form__group form-group">
                                                                <div class="m-checkbox-list">
                                                                    <ul class="list-group list-group-flush">
                                                                        @foreach (var item1 in item.subSpecificationCars)
                                                                        {
                                                                            <li class="list-group-item">
                                                                                <label class="custom-checkbox">
                                                                                    <input name="subSepCars[]" onchange="change('checkbox_Sep_@item1.Id', 'text_Sep_@item1.Id', 'entext_Sep_@item1.Id');" id="checkbox_Sep_@item1.Id" value="@item1.Id" type="checkbox">
                                                                                    @item1.NameAr
                                                                                </label>
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <input name="SepAr[]" disabled placeholder="القيمة بالعربية" id="text_Sep_@item1.Id" class="form-control" value="" type="text">
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <input name="SepEn[]" disabled placeholder="القيمة بالانجليزية" id="entext_Sep_@item1.Id" class="form-control" value="" type="text">
                                                                                    </div>
                                                                                </div>

                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                    <br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="m-portlet m-portlet--mobile">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                <span style="color: #ebebeb"></span> اضافة الالوان
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="m-portlet__head-tools">
                                        <ul class="m-portlet__nav">
                                            <li class="m-portlet__nav-item">
                                                <a href="~/CPanel/CarExtinsion/AddColor/@ViewBag.ci" title="اضافة لون جديد" class="PopUp m-btn--sm btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill">
                                                    <span>
                                                        <i class="fa fa-plus-square"></i>
                                                        <span style="font-size:14px">اضافة لون جديد</span>
                                                    </span>
                                                </a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <table class="table m-table table-bordered table-striped m-table--head-separator-success" id="color">
                                        <thead align="center">
                                            <tr>
                                                <th>اسم اللون بالعربية</th>
                                                <th>اسم اللون بالانجليزية</th>
                                                <th>تاريخ الاضافة</th>
                                                <th width="20%">العمليات</th>
                                            </tr>
                                        </thead>
                                        <tbody align="center"></tbody>
                                    </table>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

         

            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="p-3 mb-2 text-white" style="background-color:crimson">
                        وصف السيارة بالعربية
                    </div>
                    <span asp-validation-for="DescriptionAr" class="text-danger"></span>
                    <textarea class="summernote" asp-for="DescriptionAr"></textarea>
                </div>
                <div class="col-md-6">
                    <div class="p-3 mb-2 text-white" style="background-color:crimson">
                        وصف السيارة بالإنجليزية
                    </div>
                    <span asp-validation-for="DescriptionEn" class="text-danger"></span>
                    <textarea class="summernoteEN" asp-for="DescriptionEn"></textarea>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">الغاء</button>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    <script>
        $('.summernote').summernote({
            placeholder: 'ادخل المحتوى  ...',
            tabsize: 1,
            height: 150
        });
    </script>
    <script>
        $('.summernoteEN').summernote({
            placeholder: 'ادخل المحتوى باللغة الانجليزية  ...',
            tabsize: 1,
            height: 150
        });
    </script>
    <script>
        $('.dataLive').selectpicker();
    </script>
    <script>
        //$(".selectpicker").change(function () {
        //    alert("Handler for .change() called.");
        //});


        $(function () {
            $(".selectpicker").change(function () {
                var id = $(this).children("option:selected").val();
                var _path = "GetSubTypeCar";
                var _path1 = "GetModel";
                $.ajax({
                    url: _path,
                    data: { id: id },
                    type: "Get",
                    success: function (data) {
                        var myOpts = document.getElementById('select').options;

                        $('#select')
                            .find('option')
                            .remove()
                            .end();
                        jQuery.each(data, function (i, v) {
                            $('#select').append(`<option value="${v.id}"> ${v.nameAr}  </option>`);
                        });
                    }
                });

                $.ajax({
                    url: _path1,
                    data: { id: id },
                    type: "Get",
                    success: function (data) {
                        var myOpts = document.getElementById('select1').options;

                        $('#select1')
                            .find('option')
                            .remove()
                            .end();
                        jQuery.each(data, function (i, v) {
                            $('#select1').append(`<option value="${v.id}"> ${v.nameAr}  </option>`);
                        });
                    }
                });
            });
        });

    </script>
    <script>
        $(function () {
            $(".DTForm").submit(function () {
                BindDataTable();
                return false;
            });
            BindDataTable();
        });

        $(document).on("click", ".SearchBtn", function () {
            BindDataTable();
        });

        BindDataTable();

        function BindDataTable() {
            oTable = $('#color').dataTable(
                {
                    language: {
                        aria: {
                            sortAscending: ": فعال لترتيب العمود تصاعديا", sortDescending: ": فعال لترتيب العمود تنازليا"
                        }
                        , emptyTable: "لا يوجد بيانات لعرضها", info: "عرض _START_ الى _END_ من _TOTAL_ صف", infoEmpty: "لا يوجد نتائج لعرضها", infoFiltered: "(filtered1 من _MAX_ اجمالي صفوف)", lengthMenu: "_MENU_", search: "بحث", zeroRecords: "لا يوجد نتائج لعرضها",
                        paginate: { sFirst: "الاول", sLast: "الاخير", sNext: "التالي", sPrevious: "السابق" }
                    },

                    "dom":
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>",
                    "iDisplayLength": 8,
                    "sPaginationType": "full_numbers",
                    "bFilter": false,
                    "bDestroy": true,
                    "bSort": false,
                    "bStateSave": true,
                    "bLengthChange": true,
                    "columnDefs": [{
                        "orderable": false
                    }],
                    //"bSort": false,
                    serverSide: true,
                    columns: [

                        { data: 'nameAr', name: 'nameAr' },
                        { data: 'nameEn', name: 'nameEn' },

                        { data: 'createdAt', name: 'createdAt' },
                        {
                            name: 'buttons', "render": function (data, type, row) {
                                return ""
                                    + "<a title='تعديل اللون' href='/CPanel/CarExtinsion/EditColor/" + row["id"] + "' class='PopUp btn btn-outline-primary btn-sm m-btn m-btn--icon  m-btn--icon-only'><i class='fa fa-edit'></i></a>"
                                    + "<a title='حذف اللون' tname='#color' href='/CPanel/CarExtinsion/DeleteColor/" + row["id"] + "' class='Confirm  btn btn-outline-danger btn-sm m-btn m-btn--icon  m-btn--icon-only'><i class='flaticon-delete-1'></i></a>"
                            }
                        }
                    ],
                    ajax: {
                        type: "POST",
                        contentType: "application/json",
                        /**/
                        url: '/CPanel/CarExtinsion/ColorAjaxData/@ViewBag.ci',
        /**/
        data: function (d) {
            d.SearchKey = ($("[name=SearchKey]").val());
            return JSON.stringify(d);
        }
    }
});
}
    </script>
 
    
    <script>
        function change(checkId, inputId, enInputID) {
            var chek = document.getElementById(checkId);
            if ($('#' + checkId + '').is(":checked")) {
                document.getElementById(inputId).disabled = false;
                document.getElementById(enInputID).disabled = false;
            } else {
                document.getElementById(inputId).disabled = true;
                document.getElementById(enInputID).disabled = true;

            }

        };
    </script>
}