@model CMSCar.Areas.CPanel.Models.SpecialOffers.Offer
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    string x = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
@{
    ViewData["Title"] = "OfferDetalis";
}

<section class="inner_header">
    <div class="w-100 row yellowSep">
        <div class="container">
            <div class="pageyHead col-md-12">
                @if (x == "ar-EG")
                {
                    <h2>@Model.NameAr </h2>

                }
                else
                {
                    <h2>@Model.NameEn </h2>
                }
            <section class="breadcrambPage">
                <a href="/">@Localizer["Home"]</a>  <a href="/Main/Offers">@Localizer["SOffers"]</a>
                @if (x == "ar-EG")
                {
                    <span class="current">@Model.NameAr  </span>

                }
                else
                {
                    <span class="current">@Model.NameEn  </span>
                }
            </section>
            </div>
        </div>
    </div><!--w-100 -->
</section>



<div class="clearfix"></div>

<section class="landingPage">
    <div class="container">
        <img src="/Images/Offer/@Model.ImagePath" class="offerMainImage" alt="photo">
        <section class="inCarRow"><p>@Localizer["Detlais"]</p></section>
        @if (x == "ar-EG")
        {
            @Model.DescriptionAr
        }
        else
        {
            @Model.DescriptionEn

        }
        <section class="inCarRow"><p>@Localizer["cars"]</p></section>
        <div class="row">
            @if (x == "ar-EG")
            {
                foreach (var item in Model.OfferCars)
                {
                    <div class="col-md-3 ">
                        <div class="car">
                            <a data-toggle="tooltip" data-placement="left" title="اضف للمفضلة" href="  " class="addToFavLink  ">
                                <i class="far fa-heart"></i>
                            </a>
                            <a href="">
                                <div class="img_wrap" style="background-image:url(/offer_en_new-20.svg);background-repeat: no-repeat;    background-position: top left;background-size: 57px 57px;">
                                    <img src="/Images/Car/@item.Car.ShowImage" alt="@item.Car.NameAr">
                                </div>
                                <h3>@item.Car.NameAr </h3>
                                <hr>
                                <ul class="shortDesc">
                                    <li>@Html.Raw(item.Car.DescriptionAr)</li>

                                    <li class="car_placeHolder"></li>
                                </ul>
                                <!--Start Editing-->
                                <hr>

                                <div class="car_price ">
                                    Price :  @item.Car.PriceBeforeDiscount R.S
                                </div>                                <!--End Editing-->
                            </a>
                        </div>  <!-- car -->
                    </div>

                }
            }
            else
            {
                foreach (var item in Model.OfferCars)
                {
                    <div class="col-md-3 ">
                        <div class="car">
                            <a data-toggle="tooltip" data-placement="left" title="add to favoirate" href="  " class="addToFavLink  ">
                                <i class="far fa-heart"></i>
                            </a>
                            <a href="">
                                <div class="img_wrap" style="background-image:url(/offer_en_new-20.svg);background-repeat: no-repeat;    background-position: top left;background-size: 57px 57px;">
                                    <img src="/Images/Car/@item.Car.ShowImage" alt="@item.Car.NameEn">
                                </div>
                                <h3>@item.Car.NameEn </h3>
                                <hr>
                                <ul class="shortDesc">
                                    <li>@Html.Raw(item.Car.DescriptionEn)</li>

                                    <li class="car_placeHolder"></li>
                                </ul>
                                <!--Start Editing-->
                                <div class="car_price ">
                                    Price :  @item.Car.PriceBeforeDiscount R.S
                                </div>
                                <!--End Editing-->
                            </a>
                        </div>  <!-- car -->
                    </div>

                }

            }
        </div>
       
    </div>
</section>

