@model CMSCar.Models.ViewModels.IndexVM

@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    string x = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
@{
    ViewData["Title"] = "IndiviualOrder";
}
@{
    ViewData["Title"] = "CompanyOrder";
}


<section class="inner_header">
    <div class="w-100 row yellowSep">
        <div class="container">
            <div class="pageyHead col-md-12">
                <h2>@Localizer["Order"]</h2>
                <section class="breadcrambPage">
                    <a href="">@Localizer["Home"]</a>   <span class="current">@Localizer["Order"]</span>
                </section>
            </div>
        </div>
    </div><!--w-100 -->
</section>
<div class="clearfix"></div>


<section class="buy">

    <div class="container">
        <div class="row">
            <div class="col-md-3 order-2 float-right mobileOrder-1">
                <div class="brandList_col">
                    <ul class=" brandList inOffer">
                        <li class="active brandListLi">
                            <a>
                                @Localizer["Order Car"]
                            </a>
                        </li>
                        <li class="brandListLi act"><a class="mr-4 text-yellow" href="/Home/IndiviualOrder" id="personalTap">@Localizer["Individual"]</a><i id="hoverMe" class="fas fa-angle-down hoverMe"></i></li>
                        <li><a class="mr-4" href="/Home/CompaniesOrder" id="companyTap">@Localizer["Companies"]</a></li>
                    </ul>
                    @*<ul class="brandList">
                            <li class=" brandListLi">
                                <a href="" id="">
                                    @Localizer["Service"]
                                </a>
                            </li>
                        </ul>*@
                </div> <!--brandList_col  -->
            </div>

            <div class="col-md-9 order-1">
                <div class="row ">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" id="company">
                        <hr>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-4 col-form-label">@Localizer["payment"] </label>
                            <div class="col-sm-8">
                                <input type="hidden" name="type" value="0">

                                <div class="form-check form-check-inline mawadRadio activeBtn">
                                    <input class="form-check-input" checked="checked" type="radio" name="payment_method" id="tamweelRadio" value="1">
                                    <label class="form-check-label" for="tamweelRadio">@Localizer["tamweel"]</label>
                                </div>
                                <div class="form-check form-check-inline mawadRadio ">
                                    <input class="form-check-input" type="radio" name="payment_method" id="cashRadio" value="0">
                                    <label class="form-check-label" for="cashRadio">@Localizer["cash"]</label>
                                </div>
                            </div>
                        </div><!-- row -->


                        <form action="/Home/CCash" method="POST" id="formCash">
                            <div class="cashCo" id="cashCo">
                                <div class="form-group row" id="willClone1">
                                    <label for="selectedCar" class="col-sm-4 col-form-label">@Localizer["Car Name"]<span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        <input type="text" required class="form-control" id="selectedCarCo1" name="cars[]" placeholder="@Localizer["Car Name"]">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" required class="form-control" id="selectedCarNoCo1" name="quantity[]" placeholder="@Localizer["Count"]">
                                    </div>
                                </div>
                                <div id="comeJs"></div>
                                <a id="addNewCar" href="javascript:void(0);" data-num="1">@Localizer["Add Another Type +"] </a>
                                <input type="hidden" value="1" id="carCount">
                                <!-- <p>بيانات العميل : </p> -->
                                <div class="form-group row">
                                    <label for="companyName" class="col-sm-4 col-form-label">@Localizer["Company Name"] <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" required value="" class="form-control" name="NameCompany" id="companyName" placeholder="@Localizer["Company Name"] ">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="companyMail" class="col-sm-4 col-form-label">@Localizer["Email"]  <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="email" required value="" class="form-control" name="Email" id="companyMail" placeholder="@Localizer["Email"]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="companyContactPerson" class="col-sm-4 col-form-label">@Localizer["Person Name"]  <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" required value="" class="form-control" name="NamePerson" id="companyContactPerson" placeholder="@Localizer["Person Name"]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mobile" class="col-sm-4 col-form-label">@Localizer["Phone"] <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" required value="" class="form-control" name="Phone" id="mobile" placeholder="@Localizer["Phone"]">
                                    </div>
                                </div>
                            </div><!-- .cash #cash -->

                            <input type="submit" class="mawadBtn form-control" value="@Localizer["Submit"]">
                        </form>

                        <form action="/Home/CFinice" method="POST" id="formTamweel">
                            <div class="cashCo" id="cashCo">
                                <div class="form-group row" id="willClone1">
                                    <label for="selectedCar" class="col-sm-4 col-form-label">@Localizer["Car Name"] <span class="required">*</span> </label>
                                    <div class="col-sm-4">
                                        <input type="text" required class="form-control" id="selectedCarCo1" name="cars[]" placeholder="@Localizer["Car Name"]">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="number" required class="form-control" id="selectedCarNoCo1" name="quantity[]" placeholder="@Localizer["Count"]">
                                    </div>
                                </div>
                                <div id="comeJs2"></div>
                                <a id="addNewCar2" href="javascript:void(0);" data-num="1">@Localizer["Add Another Type +"] </a>
                                <input type="hidden" value="1" id="carCount2">
                                <!-- <p>بيانات العميل : </p> -->
                                <div class="form-group row">
                                    <label for="companyName" class="col-sm-4 col-form-label">@Localizer["Company Name"]  <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" required value="" class="form-control" name="NameCompany" id="companyName" placeholder="@Localizer["Company Name"]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="companyMail" class="col-sm-4 col-form-label">@Localizer["Email"]  <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="email" required value="" class="form-control" name="Email" id="companyMail" placeholder="@Localizer["Email"]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="companyContactPerson" class="col-sm-4 col-form-label">@Localizer["Name Person"]  <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" required value="" class="form-control" name="NamePerson" id="companyContactPerson" placeholder="@Localizer["Name Person"]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mobile" class="col-sm-4 col-form-label">@Localizer["Phone"] <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" required value="" class="form-control" name="Phone" id="mobile" placeholder="@Localizer["Phone"]">
                                    </div>
                                </div>
                            </div><!-- .cash #cash -->


                            <div class="form-group row">
                                <label for="cityCo" class="col-sm-4 col-form-label">@Localizer["City"]<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" required value="" class="form-control" name="City" id="cityCo" placeholder="@Localizer["City"]">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="services" class="col-sm-4 col-form-label">@Localizer["Company Activity"]<span class="required">*</span> </label>
                                <div class="col-sm-8">
                                    <input type="text" required value="" class="form-control" name="CompanyActivity" id="services" placeholder="@Localizer["Company Activity"] ">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="coAge" class="col-sm-4 col-form-label">@Localizer["Company Age"]  <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="number" required value="" class="form-control" name="CompanyAge" id="coAge" placeholder="@Localizer["Company Age"] ">
                                </div>
                            </div>

                              <div class="form-group row">
                                  <label for="coAge" class="col-sm-4 col-form-label">@Localizer["Bank"]  <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" required value="" class="form-control" name="Bank" id="coAge" placeholder="@Localizer["Bank"] ">
                                </div>
                            </div>



                            <input type="submit" class="mawadBtn form-control" value="@Localizer["Submit"]">
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div> <!-- row -->
            </div><!-- col-9 -->



        </div>
    </div>


</section>




<script>

    $(document).ready(function () {


        // Cars Open Brand Models On Mobile
        $('#hoverMe').on('click hover', function () {

            if ($(this).hasClass('hoverMe')) {
                $(this).parent().siblings().slideDown();
                $(this).removeClass('fa-angle-down').addClass('fa-times');
                $(this).removeClass('hoverMe').addClass('hoverd');
            } else {
                $(this).parent().siblings().slideUp();
                $(this).removeClass('fa-times').addClass('fa-angle-down');
                $(this).removeClass('hoverd').addClass('hoverMe');
            }
        });



        // Cars Open Brand Models On Mobile
        $('.brandListLi').on('click hover', function () {

            if ($(this).hasClass('act')) {
                $(this).siblings().slideDown();
                $(this).find('.hoverMe').removeClass('fa-angle-down').addClass('fa-times');
                $(this).find('.hoverMe').removeClass('hoverMe').addClass('hoverd');
                $(this).removeClass('act');
            } else {
                $(this).siblings().slideUp();
                $(this).find('.hoverd').removeClass('fa-times').addClass('fa-angle-down');
                $(this).find('.hoverd').removeClass('hoverd').addClass('hoverMe');
                $(this).addClass('act');
            }
        });


        /***************************
        * 2- Company Taps
        * *************************/
        // if checked tamweel display tamweel options
        $(":radio[name=payment_method]").on('change', function () {

            if ($("#tamweelRadio").is(":checked")) {
                $("#formTamweel").slideDown();
                $("#formCash").slideUp();
                $(this).parent().addClass('activeBtn').siblings().removeClass('activeBtn');
            }
            else {
                // $("#tamweelCo").slideUp();
                $("#formTamweel").slideUp();
                $("#formCash").slideDown();
                $(this).parent().addClass('activeBtn').siblings().removeClass('activeBtn');
            }
        });

        // add new car when cliked On Cash
        $("#addNewCar").on('click change', function () {

            var no = $('#carCount').val();
            var div = $('#comeJs');

            var valone = parseInt(no, 10);
            var valtwo = 1;
            var newNum = ((valone) + (valtwo));

            var newq = $(this).data('num') + 1;

            $(div).append('<div class="form-group row" id="willClone' + newNum + '"><label for="cars[]" class="col-sm-4 col-form-label">@Localizer["Car Name"]  ' + newNum + '</label><div class="col-sm-4"><input type="text" class="form-control" id="selectedCarCo' + newNum + '" name="car[]" placeholder="@Localizer["Car Name"] "></div><div class="col-sm-4"><input type="number" class="form-control" id="selectedCarNoCo' + newNum + '" name="quantity[]" placeholder="@Localizer["Count"] "></div></div>');

            $(this).attr("data-num", newNum);

            $('#carCount').val(newNum);
        });


        // add new car when cliked On Tamweel
        $("#addNewCar2").on('click change', function () {

            var no2 = $('#carCount2').val();
            var div2 = $('#comeJs2');

            var valone2 = parseInt(no2, 10);
            var valtwo2 = 1;
            var newNum2 = ((valone2) + (valtwo2));

            var newq2 = $(this).data('num') + 1;

            $(div2).append('<div class="form-group row" id="willClone' + newNum2 + '"><label for="cars[]" class="col-sm-4 col-form-label">اسم السيارة المطلوبة ' + newNum2 + '</label><div class="col-sm-4"><input type="text" class="form-control" id="selectedCarCo' + newNum2 + '" name="car[]" placeholder="اسم السيارة المطلوبة"></div><div class="col-sm-4"><input type="number" class="form-control" id="selectedCarNoCo' + newNum2 + '" name="quantity[]" placeholder="العدد"></div></div>');

            $(this).attr("data-num", newNum2);

            $('#carCount').val(newNum2);
        });



    });
</script>


