@model CMSCar.Models.ViewModels.IndexVM

@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    string x = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div class="clearfix"></div>
<div class="w-100">
    <div class="slider" style="max-width: 100%;">
        <link href="https://fonts.googleapis.com/css?family=Cairo:700%2C800%2C600%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
        <div id="rev_slider_13_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
            <div id="rev_slider_13_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">

                <ul>
                    <!-- SLIDE  -->



                    @foreach (var item in Model.Sliders)
                    {
                        if (item.SliderType == CMSCar.Areas.CPanel.Models.SliderType.Firsr)
                        {
                            <li data-index="rs-174" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://slider.salehcars.com/revslider/admin/assets/images/transparent.png" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="/Images/Slider/transparent.png" data-bgcolor='#fec400' style='background:#fec400' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <partial name="_Slider" />
                                @*السيارات*@
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-174-layer-20"
                                     data-x="['left','left','left','left']" data-hoffset="['333','333','333','214']"
                                     data-y="['top','top','top','top']" data-voffset="['456','456','456','371']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":1300,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 16;"><img style="object-fit: contain;" src="/Images/Slider/@item.Image1" alt="" data-ww="['167px','167px','167px','133px']" data-hh="['69px','69px','69px','55px']" data-no-retina> </div>
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-174-layer-19"
                                     data-x="['left','left','left','left']" data-hoffset="['249','249','249','152']"
                                     data-y="['top','top','top','top']" data-voffset="['456','456','456','372']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":1100,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 17;"><img style="object-fit: contain;" src="/Images/Slider/@item.Image2" alt="" data-ww="['171px','171px','171px','129px']" data-hh="['81px','81px','81px','62px']" data-no-retina> </div>
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-174-layer-18"
                                     data-x="['left','left','left','left']" data-hoffset="['120','120','120','60']"
                                     data-y="['top','top','top','top']" data-voffset="['458','458','458','376']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":900,"speed":500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 18;"><img style="object-fit: contain;" src="/Images/Slider/@item.Image3" alt="" data-ww="['191px','191px','191px','143px']" data-hh="['92px','92px','92px','68px']" data-no-retina> </div>
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-174-layer-17"
                                     data-x="['left','left','left','left']" data-hoffset="['-7','-7','-7','-29']"
                                     data-y="['top','top','top','top']" data-voffset="['461','461','461','379']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":700,"speed":500,"frame":"0","from":"x:left;z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 19;"><img style="object-fit: contain;" src="/Images/Slider/@item.Image4" alt="" data-ww="['202px','202px','202px','143px']" data-hh="['104px','104px','104px','73px']" data-no-retina> </div>
                                @*الصورة الرئيسية*@
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-174-layer-14"
                                     data-x="['left','left','left','left']" data-hoffset="['595','595','595','12']"
                                     data-y="['top','top','top','top']" data-voffset="['394','394','394','406']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":2200.00030517578125,"speed":800,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 20;"><img style="object-fit: contain;" src="/Images/Slider/@item.MainImage" alt="" data-ww="['658px','658px','658px','536px']" data-hh="['280px','280px','280px','228px']" data-no-retina> </div>
                                @*النص*@
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-174-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['-2','-2','-2','0']"
                                     data-y="['top','top','top','top']" data-voffset="['149','149','149','65']"
                                     data-fontsize="['70','70','70','50']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":2100.00030517578125,"speed":600,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 22; white-space: nowrap; font-size: 70px; line-height: 93px; font-weight: 700; color: #bc0000; letter-spacing: -1px;font-family:Cairo;">
                                    @if (x == "ar-EG")
                                    {
                                        <div class="rs-looped rs-pulse" data-easing="" data-speed="10" data-zoomstart="1" data-zoomend="1.2">@item.TitleAr </div>
                                    }
                                    else
                                    {
                                        <div class="rs-looped rs-pulse" data-easing="" data-speed="10" data-zoomstart="1" data-zoomend="1.2">@item.TitleEn </div>

                                    }
                                </div>
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-174-layer-9"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['260','260','260','157']"
                                     data-fontsize="['22','22','22','16']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":2100.00030517578125,"speed":600,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":310,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 27; white-space: nowrap; font-size: 22px; line-height: 42px; font-weight: 700; color: #222222; letter-spacing: -1px;font-family:Cairo;">
                                    @if (x == "ar-EG")
                                    {
                                        <p>@item.SubTitleAr</p> }
                                    else
                                    {
                                        <p>@item.SubTitleEn</p>
                                    }
                                </div>
                            </li>
                        }
                        else if (item.SliderType == CMSCar.Areas.CPanel.Models.SliderType.Second)
                        {
                            <li data-index="rs-169" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://slider.salehcars.com/revslider/admin/assets/images/transparent.png" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="/Images/Slider/transparent.png" data-bgcolor='#01596d' style='background:#01596d' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <partial name="_Slider" />

                                @*السيارات*@
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-169-layer-7"
                                     data-x="['left','left','left','left']" data-hoffset="['-87','-87','-87','-9']"
                                     data-y="['top','top','top','top']" data-voffset="['405','405','405','421']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":1600,"speed":600,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 10;"><img style="object-fit: contain;" src="~/Images/Slider/@item.Image1" alt="" data-ww="['398px','398px','398px','137px']" data-hh="['118px','118px','118px','40px']" data-no-retina> </div>
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-169-layer-6"
                                     data-x="['left','left','left','left']" data-hoffset="['90','90','90','36']"
                                     data-y="['top','top','top','top']" data-voffset="['378','378','378','412']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":1400,"speed":600,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 11;"><img style="object-fit: contain;" src="~/Images/Slider/@item.Image2" alt="" data-ww="['277px','277px','277px','113px']" data-hh="['166px','166px','166px','68px']" data-no-retina> </div>
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-169-layer-5"
                                     data-x="['left','left','left','left']" data-hoffset="['253','253','253','86']"
                                     data-y="['top','top','top','top']" data-voffset="['357','357','357','401']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":1200,"speed":600,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 12;"><img style="object-fit: contain;" style="object-fit: contain;" src="~/Images/Slider/@item.Image3" alt="" data-ww="['351px','351px','351px','149px']" data-hh="['200px','200px','200px','85px']" data-no-retina> </div>
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-169-layer-4"
                                     data-x="['left','left','left','left']" data-hoffset="['519','519','519','196']"
                                     data-y="['top','top','top','top']" data-voffset="['348','348','348','399']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":1000,"speed":600,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 13;"><img style="object-fit: contain;" style="object-fit: contain;" src="~/Images/Slider/@item.Image4" alt="" data-ww="['275px','275px','275px','119px']" data-hh="['225px','225px','225px','97px']" data-no-retina> </div>

                                @*الصورة الرئيسية*@
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-169-layer-2"
                                     data-x="['left','left','left','left']" data-hoffset="['722','722','722','122']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['27','27','27','52']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":1600,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Bounce.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 14;"><img style="object-fit: contain;" style="object-fit: contain;" src="~/Images/Slider/@item.MainImage" alt="" data-ww="['558px','558px','558px','383px']" data-hh="['527px','527px','527px','367px']" data-no-retina> </div>

                                @*النص*@
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-169-layer-16"
                                 data-x="['left','left','left','left']" data-hoffset="['514','514','514','24']"
                                 data-y="['top','top','top','top']" data-voffset="['117','117','117','203']"
                                 data-fontsize="['74','74','74','42']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":2400,"speed":700,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 19; white-space: nowrap; font-size: 74px; line-height: 96px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Cairo;">
                                @if (x == "ar-EG")
                                {
                                    <p>@item.SubTitleAr</p> }
                                else
                                {
                                    <p>@item.SubTitleEn</p>
                                }
                            </div>
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-169-layer-18"
                                 data-x="['left','left','left','left']" data-hoffset="['518','518','518','22']"
                                 data-y="['top','top','top','top']" data-voffset="['207','207','207','265']"
                                 data-fontsize="['24','24','24','14']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":2600,"speed":700,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 20; white-space: nowrap; font-size: 24px; line-height: 60px; font-weight: 600; color: #ffffff; letter-spacing: 0px;font-family:Cairo;">
                                @if (x == "ar-EG")
                                {
                                    <p>@item.SubTitleAr</p> }
                                else
                                {
                                    <p>@item.SubTitleEn</p>
                                }
                            </div>

                            </li>
                        }
                        else
                        {
                            <li data-index="rs-165" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://slider.salehcars.com/revslider/admin/assets/images/transparent.png" data-delay="10000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="/Images/Slider/transparent.png" data-bgcolor='#7f387f' style='background:#7f387f' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <partial name="_Slider" />

                                @*السيارات*@
                                <!-- LAYER NR. 103 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-165-layer-4"
                                     data-x="['left','left','left','left']" data-hoffset="['598','598','598','235']"
                                     data-y="['top','top','top','top']" data-voffset="['420','420','420','469']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":2400,"speed":1000,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 8;"><img style="object-fit: contain;" src="/Images/Slider/@item.Image1" alt="" data-ww="['466px','466px','466px','230px']" data-hh="['154px','154px','154px','76px']" data-no-retina> </div>
                                <!-- LAYER NR. 104 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-165-layer-3"
                                     data-x="['left','left','left','left']" data-hoffset="['411','411','411','152']"
                                     data-y="['top','top','top','top']" data-voffset="['412','412','412','468']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":2300,"speed":1000,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 9;"><img style="object-fit: contain;" src="/Images/Slider/@item.Image2" alt="" data-ww="['475px','475px','475px','232px']" data-hh="['196px','196px','196px','96px']" data-no-retina> </div>
                                <!-- LAYER NR. 105 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-165-layer-1"
                                     data-x="['left','left','left','left']" data-hoffset="['-25','-25','-25','-44']"
                                     data-y="['top','top','top','top']" data-voffset="['404','404','404','469']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":1900,"speed":1000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 10;"><img style="object-fit: contain;" src="/Images/Slider/@item.Image3" alt="" data-ww="['405px','405px','405px','195px']" data-hh="['218px','218px','218px','104px']" data-no-retina> </div>
                                <!-- LAYER NR. 106 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-165-layer-2"
                                     data-x="['left','left','left','left']" data-hoffset="['246','246','246','72']"
                                     data-y="['top','top','top','top']" data-voffset="['383','383','383','454']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":1200,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 11;"><img style="object-fit: contain;" src="/Images/Slider/@item.Image4" alt="" data-ww="['309px','309px','309px','155px']" data-hh="['267px','267px','267px','136px']" data-no-retina> </div>
                                <!-- LAYER NR. 109 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-165-layer-9"
                                     data-x="['left','left','left','left']" data-hoffset="['921','921','921','212']"
                                     data-y="['top','top','top','top']" data-voffset="['98','98','98','215']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"delay":2660,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Bounce.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 14;"><img style="object-fit: contain;" src="/Images/Slider/@item.MainImage" alt="" data-ww="['251px','251px','251px','204px']" data-hh="['478px','478px','478px','386px']" data-no-retina> </div>
                                @*النص*@
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-165-layer-17"
                                 data-x="['left','left','left','center']" data-hoffset="['368','368','368','110']"
                                 data-y="['top','top','top','top']" data-voffset="['221','221','221','107']"
                                 data-fontsize="['25','25','25','18']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":3669.7265625,"speed":550,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 18; white-space: nowrap; font-size: 25px; line-height: 52px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Cairo;">
                                @if (x == "ar-EG")
                                {
                                    <p>@item.SubTitleAr</p> }
                                else
                                {
                                    <p>@item.SubTitleEn</p>
                                }
                            </div>
                                <!-- LAYER NR. 114 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-165-layer-14"
                                 data-x="['left','left','left','center']" data-hoffset="['43','43','43','-110']"
                                 data-y="['top','top','top','top']" data-voffset="['89','89','89','20']"
                                 data-fontsize="['39','39','39','27']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":3079.6875,"speed":600,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 19; white-space: nowrap; font-size: 39px; line-height: 52px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Cairo;">
                                @if (x == "ar-EG")
                                {
                                    <p>@item.SubTitleAr</p> }
                                else
                                {
                                    <p>@item.SubTitleEn</p>
                                }
                            </div>


                            </li>

                        }
                    }
                </ul>

                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
</div><!--w-100 -->
<section class="filterHome">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form" action="Home/Search" method="GET">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <!-- <label for="inputState">State</label> -->
                                    <select asp-items="@ViewBag.Brands" name="BrandId" id="inputState" class="selectpicker form-control">
                                        <option value="" selected>@Localizer["Change Brand"]</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <select name="TypeId" id="inputState_model" class="form-control">
                                        <option value="" selected>@Localizer["Change Car Type"]</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <select name="ModelId" id="inputStateModel" class="form-control">
                                        <option value="" selected>@Localizer["Change Car Model"]</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" name="SearchKey" class="form-control" id="search-box" placeholder="@Localizer["Search Here ..."]">
                                </div>
                            </div> <!--row inside -->
                        </div> <!-- col9 -->

                        <button type="submit" class="btn btn-primary col-md-3">@Localizer["Search"]</button>
                    </div> <!--row -->
                </form>
            </div>
            <ul class="results">
            </ul>
        </div> <!--row -->
    </div>  <!-- container -->
</section>
<section class="whySaleh">
    <div class="w-100">
        <div class="container">
            <div class="sec-head">
                <h1>@Localizer["WhyUs"]</h1>
            </div>
            @if (x == "ar-EG")
            {
                <p>@Html.Raw(ViewBag.Titles.WhyUSAr)</p>

            }
            else
            {
                <p>@Html.Raw(ViewBag.Titles.WhyUSEn)</p>
            }
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <div id="Div_WhyUs" class="row">


        </div><!-- row -->
    </div> <!-- container -->
</section>
<div class="clearfix"></div>
<section class="brands">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-head">
                    <h1>@Localizer["TypeCar"]</h1>
                </div>
                <p></p>
                <div id="Div_TypeCar" class="row d-flex justify-content-center">


                </div>
            </div>
        </div>
    </div>
</section>
<section class="cars gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-head">
                    <h1>@Localizer["Car"]</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div id="Div_Car" class="owl-carousel">
                    @if (x == "ar-EG")
                    {
                        @foreach (var item in Model.Cars)
                        {
                            <div class="car">
                                <a data-toggle="tooltip" data-placement="left" title="اضف للمفضلة" href="#" class="addToFavLink  ">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="#">
                                    <div class="img_wrap">
                                        <img src="/Images/Car/@item.ShowImage" alt="">
                                    </div>
                                    <h3>@item.NameAr</h3>
                                    <hr>
                                    <ul class="shortDesc">
                                        <li>@Html.Raw(item.DescriptionAr)</li>
                                        <li class="car_placeHolder"></li>
                                    </ul>
                                    <div class="car_price ">
                                        السعر :  @item.PriceBeforeDiscount ر.س
                                    </div>
                                </a>
                            </div> <!-- car -->
                        }

                    }
                    else
                    {
                        @foreach (var item in Model.Cars)
                        {
                            <div class="car">
                                <a data-toggle="tooltip" data-placement="left" title="اضف للمفضلة" href="#" class="addToFavLink  ">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="#">
                                    <div class="img_wrap">
                                        <img src="/Images/Car/@item.ShowImage" alt="">
                                    </div>
                                    <h3>@item.NameEn</h3>
                                    <hr>
                                    <ul class="shortDesc">
                                        <li>@Html.Raw(item.DescriptionEn)</li>
                                        <li class="car_placeHolder"></li>
                                    </ul>
                                    <div class="car_price ">
                                        Price :  @item.PriceBeforeDiscount R.S
                                    </div>
                                </a>
                            </div> <!-- car -->
                        }

                    }
                </div>
            </div>
        </div> <!-- row big -->
    </div> <!-- container -->
</section>

<section class="drive_quote">

    <div class="container_fluid">

        <div class="col-md-6 float-right min_335" style="background-color:#c2000b;">

            <div id="buy_car_home">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-7">

                        <div class="sec-head">
                            <h1>
                                @Localizer["Order"]
                            </h1>
                        </div>

                        @if (x == "ar-EG")
                        {
                            <div class="buy_car_text">
                                @Html.Raw(ViewBag.Titles.OrderAr)
                            </div>

                        }
                        else
                        {
                            <div class="buy_car_text">
                                @Html.Raw(ViewBag.Titles.OrderEn)
                            </div>}

                        <a href="/Home/IndiviualOrder" class="buy_car_home_btn">@Localizer["Individuals"]</a>
                        <a href="/Home/CompaniesOrder" class=" buy_car_home_btn">@Localizer["companies"]</a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

        </div>


        <div class="col-md-6 float-right min_335 hideOnMobile" style="background:url('/Images/Car/8c61d90305564df0916819f7edecd51c.jpg')"></div>
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
<div class="container best_price">
    <div class="row">

        <div class="col-md-12">
            <div class="sec-head">
                <h2>@Localizer["Our price is the best"]</h2>
            </div>
            @if (x == "ar-EG")
            {
                <p>@Html.Raw(ViewBag.Titles.OurPrice)</p>

            }
            else
            {
                <p>@Html.Raw(ViewBag.Titles.OurSponsers)</p>
            }
        </div>
    </div>
</div>
<section class="allBanks">
    <div class="row">
        <div class="container">
            <h2>@Localizer["Certified by funding agencies"]</h2>
            <div id="GetBanks" class="row bankRow justify-content-center align-items-center">
            </div>
        </div>
    </div>
</section>
@section Scripts{
    @if (x == "ar-EG")
    {
        <script src="~/js/HomeAr.js"></script>

    }
    else
    {
        <script src="~/js/HomeEn.js"></script>
    }
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'eec.productImpressions',
            'ecommerce': {
                'currencyCode': 'SAR',
                'impressions': [{ "name": "GAC GS5 GE 2021", "id": 503, "price": "74500", "brand": "GAC", "category": "GS5", "variant": "null", "list": "Home Page", "position": 1 }, { "name": "GAC GS3 GS 2021", "id": 502, "price": "46000", "brand": "GAC", "category": "GS3", "variant": "null", "list": "Home Page", "position": 2 }, { "name": "GAC GN6 GE 2021", "id": 501, "price": "70100", "brand": "GAC", "category": "GN6", "variant": "null", "list": "Home Page", "position": 3 }, { "name": "GAC GA8 GE 2020", "id": 500, "price": "82200", "brand": "GAC", "category": "GA8", "variant": "null", "list": "Home Page", "position": 4 }, { "name": "GAC GS8 GL-4WD 2021", "id": 499, "price": "93000", "brand": "GAC", "category": "GS8", "variant": "null", "list": "Home Page", "position": 5 }, { "name": "GAC GS3 GE 2021", "id": 498, "price": "55800", "brand": "GAC", "category": "GS3", "variant": "null", "list": "Home Page", "position": 6 }, { "name": "GAC GS5 GL 2021", "id": 497, "price": "80000", "brand": "GAC", "category": "GS5", "variant": "null", "list": "Home Page", "position": 7 }, { "name": "GAC GA4 GE 2021", "id": 496, "price": "47200", "brand": "GAC", "category": "GA4", "variant": "null", "list": "Home Page", "position": 8 }, { "name": "GAC GN8 GP 2020", "id": 495, "price": "116000", "brand": "GAC", "category": "GN8", "variant": "null", "list": "Home Page", "position": 9 }, { "name": "شانجان CS95 Royal دبل 2021", "id": 494, "price": "111900", "brand": "شانجان", "category": "CS95", "variant": "null", "list": "Home Page", "position": 10 }]
            }
        });
    </script>
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c); var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };</script>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script type="text/javascript">
        if (setREVStartSize !== undefined) setREVStartSize(
            { c: '#rev_slider_13_1', responsiveLevels: [1240, 1240, 1240, 480], gridwidth: [1240, 1240, 1240, 480], gridheight: [700, 700, 700, 700], sliderLayout: 'fullwidth' });

        var revapi13,
            tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad); else onLoad();

            function onLoad() {
                if (tpj === undefined) { tpj = jQuery; if ("off" == "on") tpj.noConflict(); }
                if (tpj("#rev_slider_13_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_13_1");
                } else {
                    revapi13 = tpj("#rev_slider_13_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "//slider.salehcars.com/revslider/public/assets/js/",
                        sliderLayout: "fullwidth",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            bullets: {
                                enable: true,
                                hide_onmobile: false,
                                style: "uranus",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 20,
                                space: 15,
                                tmp: '<span class="tp-bullet-inner"></span>'
                            }
                        },
                        responsiveLevels: [1240, 1240, 1240, 480],
                        visibilityLevels: [1240, 1240, 1240, 480],
                        gridwidth: [1240, 1240, 1240, 480],
                        gridheight: [700, 700, 700, 700],
                        lazyType: "none",
                        shadow: 0,
                        spinner: "spinner0",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }; /* END OF revapi call */
            }; /* END OF ON LOAD FUNCTION */
        }()); /* END OF WRAPPING FUNCTION */
    </script>
    <script>
        var htmlDivCss = unescape("%23rev_slider_13_1%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_13_1%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_13_1%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_13_1%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20background-color%3A%20rgba%28255%2C%20255%2C%20255%2C%200.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_13_1%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_13_1%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%7D%0A");
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        }
        else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script>
        $(function () {
            $(".selectpicker").change(function () {
                var id = $(this).children("option:selected").val();
                var _path = "/Home/GetSubTypeCar";
                var _path1 = "/Home/GetModelCar";
                $.ajax({
                    url: _path,
                    data: { id: id },
                    type: "Get",
                    success: function (data) {
                        var myOpts = document.getElementById('inputState_model').options;

                        $('#inputState_model')
                            .find('option')
                            .remove()
                            .end();
                        $.each(data, function (i, v) {
                            $('#inputState_model').append(`<option value="${v.id}"> ${v.nameAr}  </option>`);
                        });
                    }
                });
                $.ajax({
                    url: _path1,
                    data: { id: id },
                    type: "Get",
                    success: function (data) {
                        var myOpts = document.getElementById('inputStateModel').options;

                        $('#inputStateModel')
                            .find('option')
                            .remove()
                            .end();
                        $.each(data, function (i, v) {
                            $('#inputStateModel').append(`<option value="${v.id}"> ${v.nameAr}  </option>`);
                        });
                    }
                });
            });
        });

    </script>
}