@model CMSCar.Models.ViewModels.IndexVM

@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    string x = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div class="clearfix"></div>
<div class="w-100">
    <div class="slider" style="max-width: 100%;">
        <link href="https://fonts.googleapis.com/css?family=Cairo:700%2C800%2C600%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
        <div id="rev_slider_13_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
            <div id="rev_slider_13_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">

                <ul>
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://slider.salehcars.com/revslider/admin/assets/images/transparent.png" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="https://i.pinimg.com/originals/e0/b6/19/e0b619bb4def29cc007fba6c9b74cf99.jpg" data-bgcolor='#fec400' style='background:#fec400' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption   tp-resizeme"
                             id="slide-126-layer-34"
                             data-x="['right','right','right','right']" data-hoffset="['118','118','118','186']"
                             data-y="['top','top','top','top']" data-voffset="['594','594','594','644']"
                             data-frames='[{"delay":100,"speed":700,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                             style="z-index: 17;  white-space: nowrap; font-size: 15px; line-height: 28px; font-weight: 400; color: #ffffff; letter-spacing: -1px;font-family:Cairo;"></div>
                    </li>
                    <!-- SLIDE  -->
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
</div><!--w-100 -->
<section class="filterHome">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form" action="#" method="GET">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <!-- <label for="inputState">State</label> -->
                                    <select name="car_brand_id" id="inputState" class="form-control">
                                        <option value="" selected>اختر الماركه</option>
                                    </select>
                                </div>


                                <div class="form-group col-md-3">
                                    <select name="car_model_id" id="inputState_model" class="form-control">
                                        <option value="" selected>اختر النوع</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                    <select name="car_model_type" id="inputState_model-type" class="form-control">
                                        <option value="" selected>اختر الفئة</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                    <input type="text" name="search_text" class="form-control" id="search-box" placeholder="ابحث هنا ...">

                                </div>
                            </div> <!--row inside -->
                        </div> <!-- col9 -->



                        <button type="submit" class="btn btn-primary col-md-3">بحث</button>
                    </div> <!--row -->
                </form>
            </div>
            <ul class="results">
            </ul>
        </div> <!--row -->
    </div>  <!-- container -->
</section>
<section class="whySaleh">
    <div class="w-100">
        <div class="container">
            <div class="sec-head">
                <h1>@Localizer["WhyUs"]</h1>
            </div>
            @if (x == "ar-EG")
            {
                <p>@Html.Raw(ViewBag.Titles.WhyUSAr)</p>

            }
            else
            {
                <p>@Html.Raw(ViewBag.Titles.WhyUSEn)</p>
            }
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <div id="Div_WhyUs" class="row">


        </div><!-- row -->
    </div> <!-- container -->
</section>
<div class="clearfix"></div>
<section class="brands">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-head">
                    <h1>@Localizer["TypeCar"]</h1>
                </div>
                <p></p>
                <div id="Div_TypeCar" class="row d-flex justify-content-center">


                </div>
            </div>
        </div>
    </div>
</section>
<section class="cars gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-head">
                    <h1>@Localizer["Car"]</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div id="Div_Car" class="owl-carousel">
                    @if (x == "ar-EG")
                    {
                        @foreach (var item in Model.Cars)
                        {
                            <div class="car">
                                <a data-toggle="tooltip" data-placement="left" title="اضف للمفضلة" href="#" class="addToFavLink  ">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="#">
                                    <div class="img_wrap">
                                        <img src="/Images/Car/@item.ShowImage" alt="">
                                    </div>
                                    <h3>@item.NameAr</h3>
                                    <hr>
                                    <ul class="shortDesc">
                                        <li>@Html.Raw(item.DescriptionAr)</li>
                                        <li class="car_placeHolder"></li>
                                    </ul>
                                    <div class="car_price ">
                                        السعر :  @item.PriceBeforeDiscount ر.س
                                    </div>
                                </a>
                            </div> <!-- car -->
                        }

                    }
                    else
                    {
                        @foreach (var item in Model.Cars)
                        {
                            <div class="car">
                                <a data-toggle="tooltip" data-placement="left" title="اضف للمفضلة" href="#" class="addToFavLink  ">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="#">
                                    <div class="img_wrap">
                                        <img src="/Images/Car/@item.ShowImage" alt="">
                                    </div>
                                    <h3>@item.NameEn</h3>
                                    <hr>
                                    <ul class="shortDesc">
                                        <li>@Html.Raw(item.DescriptionEn)</li>
                                        <li class="car_placeHolder"></li>
                                    </ul>
                                    <div class="car_price ">
                                        Price :  @item.PriceBeforeDiscount R.S
                                    </div>
                                </a>
                            </div> <!-- car -->
                        }

                    }
                </div>
            </div>
        </div> <!-- row big -->
    </div> <!-- container -->
</section>

<section class="drive_quote">

    <div class="container_fluid">

        <div class="col-md-6 float-right min_335" style="background-color:#c2000b;">

            <div id="buy_car_home">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-7">

                        <div class="sec-head">
                            <h1>
                                @Localizer["Order"]
                            </h1>
                        </div>

                        @if (x == "ar-EG")
                        {
                            <div class="buy_car_text">
                                @Html.Raw(ViewBag.Titles.OrderAr)
                            </div>

                        }
                        else
                        {
                            <div class="buy_car_text">
                                @Html.Raw(ViewBag.Titles.OrderEn)
                            </div>}

                    <a href="~/ar/buy_company" class="buy_car_home_btn">@Localizer["Individuals"]</a>
                    <a href="~/ar/buy_individual" class=" buy_car_home_btn">@Localizer["companies"]</a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

        </div>


        <div class="col-md-6 float-right min_335 hideOnMobile" style="background:url('/Images/Car/8c61d90305564df0916819f7edecd51c.jpg')"></div>
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
<div class="container best_price">
    <div class="row">

        <div class="col-md-12">
            <div class="sec-head">
                <h2>@Localizer["Our price is the best"]</h2>
            </div>
            @if (x == "ar-EG")
            {
                <p>@Html.Raw(ViewBag.Titles.OurPrice)</p>

            }
            else
            {
                <p>@Html.Raw(ViewBag.Titles.OurSponsers)</p>
            }
        </div>
    </div>
</div>
<section class="allBanks">
    <div class="row">
        <div class="container">
            <h2>@Localizer["Certified by funding agencies"]</h2>
            <div id="GetBanks" class="row bankRow justify-content-center align-items-center">
            </div>
        </div>
    </div>
</section>
@section Scripts{
    @if (x == "ar-EG")
    {
        <script src="~/js/HomeAr.js"></script>

    }
    else
    {
        <script src="~/js/HomeEn.js"></script>
    }
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'eec.productImpressions',
            'ecommerce': {
                'currencyCode': 'SAR',
                'impressions': [{ "name": "GAC GS5 GE 2021", "id": 503, "price": "74500", "brand": "GAC", "category": "GS5", "variant": "null", "list": "Home Page", "position": 1 }, { "name": "GAC GS3 GS 2021", "id": 502, "price": "46000", "brand": "GAC", "category": "GS3", "variant": "null", "list": "Home Page", "position": 2 }, { "name": "GAC GN6 GE 2021", "id": 501, "price": "70100", "brand": "GAC", "category": "GN6", "variant": "null", "list": "Home Page", "position": 3 }, { "name": "GAC GA8 GE 2020", "id": 500, "price": "82200", "brand": "GAC", "category": "GA8", "variant": "null", "list": "Home Page", "position": 4 }, { "name": "GAC GS8 GL-4WD 2021", "id": 499, "price": "93000", "brand": "GAC", "category": "GS8", "variant": "null", "list": "Home Page", "position": 5 }, { "name": "GAC GS3 GE 2021", "id": 498, "price": "55800", "brand": "GAC", "category": "GS3", "variant": "null", "list": "Home Page", "position": 6 }, { "name": "GAC GS5 GL 2021", "id": 497, "price": "80000", "brand": "GAC", "category": "GS5", "variant": "null", "list": "Home Page", "position": 7 }, { "name": "GAC GA4 GE 2021", "id": 496, "price": "47200", "brand": "GAC", "category": "GA4", "variant": "null", "list": "Home Page", "position": 8 }, { "name": "GAC GN8 GP 2020", "id": 495, "price": "116000", "brand": "GAC", "category": "GN8", "variant": "null", "list": "Home Page", "position": 9 }, { "name": "شانجان CS95 Royal دبل 2021", "id": 494, "price": "111900", "brand": "شانجان", "category": "CS95", "variant": "null", "list": "Home Page", "position": 10 }]
            }
        });
    </script>
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c); var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };</script>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script type="text/javascript">
        if (setREVStartSize !== undefined) setREVStartSize(
            { c: '#rev_slider_13_1', responsiveLevels: [1240, 1240, 1240, 480], gridwidth: [1240, 1240, 1240, 480], gridheight: [700, 700, 700, 700], sliderLayout: 'fullwidth' });

        var revapi13,
            tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad); else onLoad();

            function onLoad() {
                if (tpj === undefined) { tpj = jQuery; if ("off" == "on") tpj.noConflict(); }
                if (tpj("#rev_slider_13_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_13_1");
                } else {
                    revapi13 = tpj("#rev_slider_13_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "//slider.salehcars.com/revslider/public/assets/js/",
                        sliderLayout: "fullwidth",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            bullets: {
                                enable: true,
                                hide_onmobile: false,
                                style: "uranus",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 20,
                                space: 15,
                                tmp: '<span class="tp-bullet-inner"></span>'
                            }
                        },
                        responsiveLevels: [1240, 1240, 1240, 480],
                        visibilityLevels: [1240, 1240, 1240, 480],
                        gridwidth: [1240, 1240, 1240, 480],
                        gridheight: [700, 700, 700, 700],
                        lazyType: "none",
                        shadow: 0,
                        spinner: "spinner0",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }; /* END OF revapi call */
            }; /* END OF ON LOAD FUNCTION */
        }()); /* END OF WRAPPING FUNCTION */
    </script>
    <script>
        var htmlDivCss = unescape("%23rev_slider_13_1%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_13_1%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_13_1%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_13_1%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20background-color%3A%20rgba%28255%2C%20255%2C%20255%2C%200.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_13_1%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_13_1%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%7D%0A");
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        }
        else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
}