@model CMSCar.Models.ViewModels.POCarVM

@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    string x = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
@{
    ViewData["Title"] = "IndiviualOrder";
}

<section class="inner_header">
    <div class="w-100 row yellowSep">
        <div class="container">
            <div class="pageyHead col-md-12">
                <h2>@Localizer["Order"]</h2>
                <section class="breadcrambPage">
                    <a href="">@Localizer["Home"]</a>   <span class="current">@Localizer["Order"]</span>
                </section>
            </div>
        </div>
    </div><!--w-100 -->
</section>
<div class="clearfix"></div>
<section class="buy">

    <div class="container">
        <div class="row">
            <div class="col-md-3 order-2 float-right mobileOrder-1">
                <div class="brandList_col">
                    <ul class=" brandList inOffer">
                        <li class="active brandListLi">
                            <a>
                                @Localizer["Order Car"]
                            </a>
                        </li>
                        <li class="brandListLi act"><a class="mr-4 text-yellow" href="/Home/IndiviualOrder" id="personalTap">@Localizer["Individual"]</a><i id="hoverMe" class="fas fa-angle-down hoverMe"></i></li>
                        <li><a class="mr-4" href="/Home/CompaniesOrder" id="companyTap">@Localizer["Companies"]</a></li>
                        <li><a class="mr-4" href="/Home/BuyService" id="companyTap">@Localizer["Buy Service"]</a></li>

                    </ul>
                   
                </div> <!--brandList_col  -->
            </div>


            <div class="col-md-9 order-1">
                <div class="row ">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" id="personal">

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-4 col-form-label">@Localizer["payment"] </label>
                            <div class="col-sm-8">
                                <input type="hidden" name="type" value="0">

                                <div class="form-check form-check-inline mawadRadio activeBtn">
                                    <input class="form-check-input" checked="checked" type="radio" name="payment_method" id="tamweelRadio" value="1">
                                    <label class="form-check-label" for="tamweelRadio">@Localizer["tamweel"]</label>
                                </div>
                                <div class="form-check form-check-inline mawadRadio ">
                                    <input class="form-check-input" type="radio" name="payment_method" id="cashRadio" value="0">
                                    <label class="form-check-label" for="cashRadio">@Localizer["cash"]</label>
                                </div>
                            </div>
                        </div><!-- row -->

                        @if (ViewBag.EditStatus != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" style="background-color: #ff0000;border: none" role="alert">
                                <strong style="font-size:15px">@Localizer["error"]</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-window-close"></i></span>
                                </button>
                            </div>
                        }
                        <form method="POST" action="/Home/ICash" id="personal_cash">
                            <input type="hidden" name="payment_type" value="كاش">
                            <input type="hidden" name="car_id" value="0">
                            <div class="cash" id="cash">
                                @if (Model != null)
                                {
                                    if (x == "ar-EG")
                                    {
                                        <div class="form-group row ">
                                            <label for="selectedCar" class="col-sm-4 col-form-label">@Localizer["Name Of Car"] <span class="required">*</span></label>
                                            <div  class="col-sm-8">
                                                <input readonly  name="CarName" required type="text" value="@Model.NameAr" class="form-control" >
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group row ">
                                            <label for="selectedCar" class="col-sm-4 col-form-label">@Localizer["Name Of Car"] <span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <input   name="CarName" readonly required type="text" value="@Model.NameEn" class="form-control">
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group row">
                                        <label for="carPrice" class="col-sm-4 col-form-label">@Localizer["Price"] <span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input readonly  name="Price" required type="text" value="@Model.Price" class="form-control" id="carPrice">
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="form-group row ">
                                        <label for="selectedCar" class="col-sm-4 col-form-label">@Localizer["Name Of Car"] <span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input name="CarName" required type="text" value="" class="form-control" id="selectedCar">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="carPrice" class="col-sm-4 col-form-label">@Localizer["Price"] <span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input name="Price" required type="text" value="" class="form-control" id="carPrice">
                                        </div>
                                    </div>
                                }

                                <div class="form-group row ">
                                    <label for="clientName" class="col-sm-4 col-form-label">@Localizer["Name"] <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control " value="" name="Name" id="clientName" placeholder="@Localizer["Name"]" required>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="mobile" class="col-sm-4 col-form-label">@Localizer["Phone"]<span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control " value="" name="Phone" id="mobile" placeholder="@Localizer["Phone"]" required>
                                    </div>
                                </div>
                            </div><!-- .cash #cash -->
                            <input id="submetCash" type="submit" class="mawadBtn form-control" value="@Localizer["submit"]">
                        </form>

                        <form method="POST" action="/Home/IndviuialFinance" id="personal_tamweel" class="sendNow">
                            <div id="wrappingCar">
                                <div id="needBeforeCalc">
                                    @if (Model != null)
                                    {
                                        if (x == "ar-EG")
                                        {
                                            <div class="form-group row ">
                                                <label for="selectedCar" class="col-sm-4 col-form-label">@Localizer["Name Of Car"] <span class="required">*</span></label>
                                                <div class="col-sm-8">
                                                    <input readonly name="CarName" required type="text" value="@Model.NameAr" class="form-control" id="selectedCar">
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group row ">
                                                <label for="selectedCar" class="col-sm-4 col-form-label">@Localizer["Name Of Car"] <span class="required">*</span></label>
                                                <div class="col-sm-8">
                                                    <input readonly name="CarName" required type="text" value="@Model.NameEn" class="form-control" id="selectedCar">
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group row">
                                            <label for="carPrice" class="col-sm-4 col-form-label">@Localizer["Price"] <span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <input readonly name="Price" required type="text" value="@Model.Price" class="form-control" id="carPrice">
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="form-group row ">
                                            <label for="selectedCar" class="col-sm-4 col-form-label">@Localizer["Name Of Car"] <span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <input name="CarName" required type="text" value="" class="form-control" id="selectedCar">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="carPrice" class="col-sm-4 col-form-label">@Localizer["Price"] <span class="required">*</span></label>
                                            <div class="col-sm-8">
                                                <input name="Price" required type="text" value="" class="form-control" id="carPrice">
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group row ">
                                        <label for="clientName" class="col-sm-4 col-form-label">@Localizer["Name"] <span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control " value="" name="Name" id="clientName" placeholder="@Localizer["Name"]" required>
                                        </div>
                                    </div>
                                    <div class="form-group row ">
                                        <label for="mobile" class="col-sm-4 col-form-label">@Localizer["Phone"]<span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control " value="" name="Phone" id="mobile" placeholder="@Localizer["Phone"]" required>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label for="city" class="col-sm-4 col-form-label">@Localizer["salary"] <span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control " name="Salary" id="salary" placeholder="@Localizer["salary"]" value="" required min="3000">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label">@Localizer["commitments"]<span class="required">*</span></label>
                                        <div class="col-sm-8">

                                            <input type="number" class="form-control " name="Commitment" placeholder="@Localizer["commitments"]" required value="">
                                        </div>
                                    </div><!-- row -->
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label ">@Localizer["qard"]  <span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="Loan" id="qardYes" value="1" required>
                                                <label class="form-check-label" name="Loan">@Localizer["Yes"]</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" checked="checked" name="Loan" id="qardNo" value="0" required>
                                                <label class="form-check-label" name="Loan">@Localizer["No"]</label>
                                            </div>
                                        </div>
                                    </div><!-- row -->
                                    <div class="form-group row">
                                        <label for="city" class="col-sm-4 col-form-label">@Localizer["last_payment"] <span class="required">*</span> </label>
                                        <div class="col-sm-8">
                                            <select name="LastPay" required value="" class="form-control">
                                                <option value="25">25%</option>
                                                <option value="30">30%</option>
                                                <option selected value="35">35%</option>
                                                <option value="40">40%</option>
                                                <option value="45">45%</option>
                                                <option value="50">50%</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="initPayment" class="col-sm-4 col-form-label">@Localizer["initPayment"] </label>
                                        <div class="col-sm-8">

                                            <select name="FirstPay" required id="initPayment" value="" class="form-control">
                                                <option selected value="0">0</option>
                                                <option value="10">10%</option>
                                                <option value="15">15%</option>
                                                <option value="20">20%</option>
                                                <option value="25">25%</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label for="city" class="col-sm-4 col-form-label">@Localizer["City"]  <span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control " name="City" id="city" placeholder="@Localizer["City"] " value="" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="city" class="col-sm-4 col-form-label">@Localizer["work"]<span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control " name="WorkSector" id="work" placeholder="@Localizer["work"]" value="" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="city" class="col-sm-4 col-form-label">@Localizer["bank_account"]<span class="required">*</span></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control " name="Bank" id="bank_account" placeholder="@Localizer["bank_account"]" value="" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="initPayment" class="col-sm-4 col-form-label">@Localizer["license Status"] </label>
                                        <div class="col-sm-8">

                                            <select name="licenseStatus" required id="initPayment" value="" class="form-control">
                                                <option value="لا يوجد">@Localizer["Unavailable"]</option>
                                                <option value="سارية">@Localizer["Valid"]</option>
                                                <option value="منتهية">@Localizer["Invalid"]</option>

                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <input type="submit" class="mawadBtn form-control" value="@Localizer["submit"]">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div> <!-- row -->
            </div><!-- col-9 -->
        </div>
    </div>
</section>
<script>

    $(document).ready(function () {


        // Cars Open Brand Models On Mobile
        $('#hoverMe').on('click hover', function () {

            if ($(this).hasClass('hoverMe')) {
                $(this).parent().siblings().slideDown();
                $(this).removeClass('fa-angle-down').addClass('fa-times');
                $(this).removeClass('hoverMe').addClass('hoverd');
            } else {
                $(this).parent().siblings().slideUp();
                $(this).removeClass('fa-times').addClass('fa-angle-down');
                $(this).removeClass('hoverd').addClass('hoverMe');
            }
        });

        // Cars Open Brand Models On Mobile
        $('.brandListLi').on('click hover', function () {

            if ($(this).hasClass('act')) {
                $(this).siblings().slideDown();
                $(this).find('.hoverMe').removeClass('fa-angle-down').addClass('fa-times');
                $(this).find('.hoverMe').removeClass('hoverMe').addClass('hoverd');
                $(this).removeClass('act');
            } else {
                $(this).siblings().slideUp();
                $(this).find('.hoverd').removeClass('fa-times').addClass('fa-angle-down');
                $(this).find('.hoverd').removeClass('hoverd').addClass('hoverMe');
                $(this).addClass('act');
            }
        });


        $("#initPayment").on("change", function (e) {

            var car_price = $("#car_price").val();

            var vat = car_price * 0.05;

            var rsoom = (car_price * 0.01) + 500;

            var totalPrice = parseInt(vat) + parseInt(car_price) + parseInt(rsoom);

            var percentages = $(this).val();

            var pprice = (percentages / 100) * totalPrice;

            $("#firstPaymentNo").val(parseInt(pprice));

        });




        /*********************************
             * Start Purchase form
             * 1- Persons Taps
             * ****************************/
        // if checked tamweel display tamweel options
        $(":radio[name=payment_method]").on('change', function () {

            if ($("#tamweelRadio").is(":checked")) {
                $("#personal_tamweel").slideDown('fast');
                // $("#calculateTamweel").slideDown('fast');
                $("#personal_cash").slideUp('fast');

                $(this).parent().addClass('activeBtn').siblings().removeClass('activeBtn');
            } else if ($("#cashRadio").is(":checked")) {
                // $("#tamweel").slideUp();
                $("#personal_tamweel").slideUp('fast');
                $("#personal_cash").slideDown('fast');
                $('#ajaxResponse').hide();
                $('#needAfterCalc').hide();
                $('#ajaxResponseYes').hide();


                // $("#calculateTamweel").slideUp('fast');
                $(this).parent().addClass('activeBtn').siblings().removeClass('activeBtn');
            }
            else {
                $("#tamweel").slideUp();
                //  $(this).parent().removeClass('activeBtn').siblings().addClass('activeBtn');
            }
        });



    });


</script>



<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        event: 'standardLead',
        'leadType': 'Individual',	//Individual or Company
        'paymentType': 'Finance'	// Finance or Cash
    });
</script>
