@model List<CMSCar.Areas.CPanel.Models.Cars.Car>
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    string x = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
@{
    ViewData["Title"] = "Search";
}



<section class="inner_header">
    <div class="w-100 row yellowSep">
        <div class="container">
            <div class="pageyHead col-md-12">
                <section class="breadcrambPage">
                    <a href="/">@Localizer["Home"]</a>  <a href="/Main/Cars">@Localizer["Search"]</a>

                </section>
            </div>
        </div>
    </div><!--w-100 -->
</section>


<div class="clearfix"></div>

<section class="allCarsInBrand">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-1 order-1 float-right"></div> -->
            <div class="col-md-12 order-1">
                <div id="ajaxResponseCars">
                    <div class="row justify-content-center">
                        @if (x == "ar-EG")
                        {
                            foreach (var item in Model)
                            {
                                <div class="col-md-3 float-left">
                                    <div class="car">
                                        <a data-toggle="tooltip" data-placement="left" title="اضف للمفضلة" href="" class="addToFavLink  ">
                                            <i class="far fa-heart"></i>
                                        </a>
                                        <a href="/Main/Car/@item.Id">
                                            <div class="img_wrap" ;background-repeat: no-repeat; background-position: top left;background-size: 57px 57px;">
                                                <img src="/Images/Car/@item.ShowImage" alt=" @item.NameAr">
                                            </div>
                                            <h3>@item.NameAr</h3>
                                            <hr>
                                            <ul class="shortDesc">
                                                <li>@Html.Raw(item.SubDescriptionAr)</li>
                                                <li class="car_placeHolder"></li>
                                            </ul>
                                            <!--Start Editing-->
                                            <hr>
                                            <div class="car_price ">
                                                السعر : @item.PriceAfterDiscount ر.س
                                            </div>                                     <!--End Editing-->
                                        </a>
                                    </div>  <!-- car -->
                                </div> <!-- col3 -->

                            }
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <div class="col-md-3 float-right">
                                    <div class="car">
                                        <a data-toggle="tooltip" data-placement="left" title="add To Favorait" href="" class="addToFavLink  ">
                                            <i class="far fa-heart"></i>
                                        </a>
                                        <a href="/Main/Car/@item.Id">
                                            <div class="img_wrap" style="background-repeat: no-repeat;    background-position: top left;background-size: 57px 57px;">
                                                <img src="/Images/Car/@item.ShowImage" alt=" @item.NameEn">
                                            </div>
                                            <h3>@item.NameEn</h3>
                                            <hr>
                                            <ul class="shortDesc">
                                                <li>@Html.Raw(item.SubDescriptionEn)</li>
                                                <li class="car_placeHolder"></li>
                                            </ul>
                                            <!--Start Editing-->
                                            <hr>
                                            <div class="car_price ">
                                                Price : @item.PriceAfterDiscount R.S
                                            </div>
                                            <!--End Editing-->
                                        </a>
                                    </div>  <!-- car -->
                                </div> <!-- col3 -->

                            }
                        }
                    </div> <!-- row -->
                </div> <!-- ajaxResponse -->
            </div>
        </div>
    </div>
</section>