@model CMSCar.Areas.CPanel.Models.PurchaseOrders.IndividualCash

@{
    ViewData["Title"] = "تفاصيل طلب الشراء";
    Layout = null;
}

<h1>تفاصيل طلب الشراء</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            إسم المرسل:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            رقم الهاتف:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            اسم السيارة
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarName)
        </dd>
        <dt class="col-sm-2">
            السعر
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
      
        <dt class="col-sm-2">
            تاريخ الارسال
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
